反诈劝阻助手 (1).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 反诈劝阻助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.41@85be0ee644e13561909e1dc99c73a19896acdcc4e4162f91e2e615cc88d35b44
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      - .MP4
      - .MOV
      - .AVI
      - .MKV
      - .WEBM
      allowed_file_types:
      - image
      - video
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: true
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1777704603820-source-1777707082747-target
      source: '1777704603820'
      sourceHandle: source
      target: '1777707082747'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1777707082747-source-1777707242964-target
      source: '1777707082747'
      sourceHandle: source
      target: '1777707242964'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1777707242964-true-1777707361444-target
      source: '1777707242964'
      sourceHandle: 'true'
      target: '1777707361444'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1777707242964-false-1777707505741-target
      source: '1777707242964'
      sourceHandle: 'false'
      target: '1777707505741'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1777707505741-source-1777707627587-target
      source: '1777707505741'
      sourceHandle: source
      target: '1777707627587'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 1777707627587-source-1777707677668-target
      source: '1777707627587'
      sourceHandle: source
      target: '1777707677668'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: code
      id: 1777707361444-source-1777707755604-target
      source: '1777707361444'
      sourceHandle: source
      target: '1777707755604'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: code
      id: 1777707677668-source-1777707755604-target
      source: '1777707677668'
      sourceHandle: source
      target: '1777707755604'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1777707755604-source-1777708627285-target
      source: '1777707755604'
      sourceHandle: source
      target: '1777708627285'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1777708627285-source-1777710209901-target
      source: '1777708627285'
      sourceHandle: source
      target: '1777710209901'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: user_input
        type: start
        variables:
        - default: ''
          hint: ''
          label: 用户描述/对方话术
          options: []
          placeholder: 请输入您要判别的内容(支持文本, 图片, 视频)
          required: true
          type: text-input
          variable: text
        - default: ''
          hint: ''
          label: 是否已转账/充值
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: money_sent
      height: 134
      id: '1777704603820'
      position:
        x: 12.401280847931787
        y: 326.3883483101116
      positionAbsolute:
        x: 12.401280847931787
        y: 326.3883483101116
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef main(test: str, money_sent: str):\n    text_raw =\
          \ test or \"\"\n    text_n = (text_raw.strip().lower())\n    text_n = re.sub(r\"\
          \\s+\", \" \", text_n)\n\n    rules = [\n        (\"冒充客服退款/快递理赔/退改签\", [\"\
          客服\",\"退款\",\"理赔\",\"退改签\",\"快递丢失\",\"订单异常\",\"赔付\",\"下载\",\"app\",\"屏幕共享\"\
          ,\"远程\",\"验证码\",\"指导操作\",\"链接\"], \"高\"),\n        (\"冒充公检法/涉案安全账户\", [\"\
          公检法\",\"公安\",\"检察院\",\"法院\",\"通缉\",\"涉案\",\"洗钱\",\"冻结\",\"保密\",\"安全账户\"\
          ,\"资金清查\",\"笔录\",\"拘留\"], \"高\"),\n        (\"刷单返利/做任务返现\", [\"刷单\",\"返利\"\
          ,\"佣金\",\"垫付\",\"任务\",\"连单\",\"卡单\",\"解冻\",\"保证金\",\"提现失败\",\"风控\",\"流水\"\
          ,\"做任务\"], \"高\"),\n        (\"投资理财/杀猪盘/导师带单/虚拟币\", [\"投资\",\"理财\",\"稳赚\"\
          ,\"带单\",\"导师\",\"内部消息\",\"拉群\",\"跟单\",\"usdt\",\"虚拟币\",\"充值\",\"提现税费\",\"\
          风控\",\"加仓\"], \"高\"),\n        (\"网贷/征信修复/刷流水/解冻账户\", [\"网贷\",\"贷款\",\"\
          征信\",\"修复征信\",\"刷流水\",\"包装资料\",\"内部渠道\",\"解冻账户\",\"验证资质\",\"保证金\"], \"中\"\
          ),\n        (\"冒充领导/熟人借钱/紧急转账\", [\"领导\",\"老板\",\"同事\",\"亲戚\",\"急用\",\"\
          马上转\",\"不方便接电话\",\"别告诉\",\"代付\",\"垫付\",\"转一笔\"], \"高\"),\n        (\"裸聊敲诈/通讯录威胁\"\
          , [\"裸聊\",\"截图\",\"通讯录\",\"曝光\",\"群发\",\"私了\",\"勒索\",\"不打钱就发\"], \"高\"),\n\
          \        (\"虚假中奖/博彩/领奖税费\", [\"中奖\",\"领奖\",\"奖品\",\"手续费\",\"税费\",\"保证金\"\
          ,\"博彩\",\"彩票\",\"领取奖励\"], \"中\"),\n        (\"钓鱼链接/木马APP/账号盗取\", [\"短链\"\
          ,\"链接\",\"验证码\",\"登录过期\",\"重新认证\",\"安装\",\"apk\",\"证书\",\"描述文件\",\"人脸验证\"\
          ], \"高\"),\n        (\"虚假招聘/培训贷/入职前收费\", [\"招聘\",\"入职\",\"培训费\",\"押金\",\"\
          体检费\",\"工装费\",\"分期\",\"贷款\",\"合作机构\",\"名额有限\"], \"中\"),\n    ]\n\n    fraud_candidates\
          \ = []\n    signals = []\n    risk_levels = []\n\n    for (tp, kws, rk)\
          \ in rules:\n        hits = []\n        for k in kws:\n            if k\
          \ and (k.lower() in text_n):\n                hits.append(k)\n        if\
          \ len(hits) > 0:\n            fraud_candidates.append(tp)\n            risk_levels.append(rk)\n\
          \            for h in hits:\n                signals.append(tp + \"::\"\
          \ + h)\n\n    # 去重保持顺序\n    fraud_candidates_uniq = []\n    seen = set()\n\
          \    for x in fraud_candidates:\n        if x not in seen:\n           \
          \ seen.add(x); fraud_candidates_uniq.append(x)\n    signals_uniq = []\n\
          \    seen2 = set()\n    for x in signals:\n        if x not in seen2:\n\
          \            seen2.add(x); signals_uniq.append(x)\n\n    rule_hit = (len(fraud_candidates_uniq)\
          \ > 0)\n\n    # 风险等级取最高\n    risk_level_rule = \"低\"\n    if \"高\" in risk_levels:\n\
          \        risk_level_rule = \"高\"\n    elif \"中\" in risk_levels:\n     \
          \   risk_level_rule = \"中\"\n\n    fraud_candidates_str = \"、\".join(fraud_candidates_uniq)\
          \ if len(fraud_candidates_uniq) > 0 else \"\"\n    signals_str = \"；\".join(signals_uniq)\
          \ if len(signals_uniq) > 0 else \"\"\n\n    retrieval_query = \"诈骗类型候选：\"\
          \ + (fraud_candidates_str if fraud_candidates_str else \"未知\") + \"\\n用户描述：\"\
          \ + text_raw\n\n    return {\n        \"rule_hit\": rule_hit,\n        \"\
          fraud_candidates_rule_\": fraud_candidates_str,\n        \"signals_rule_\"\
          : signals_str,\n        \"risk_level_rule_\": risk_level_rule,\n       \
          \ \"money_sent_\": (money_sent or \"\"),\n        \"retrieval_query_rule_\"\
          : retrieval_query,\n    }"
        code_language: python3
        outputs:
          fraud_candidates_rule_:
            children: null
            type: string
          money_sent_:
            children: null
            type: string
          retrieval_query_rule_:
            children: null
            type: string
          risk_level_rule_:
            children: null
            type: string
          rule_hit:
            children: null
            type: boolean
          signals_rule_:
            children: null
            type: string
        selected: false
        title: PY_规则引擎
        type: code
        variables:
        - value_selector:
          - '1777704603820'
          - text
          value_type: string
          variable: test
        - value_selector:
          - '1777704603820'
          - money_sent
          value_type: string
          variable: money_sent
      height: 51
      id: '1777707082747'
      position:
        x: 348.3527528164805
        y: 320.29449436703874
      positionAbsolute:
        x: 348.3527528164805
        y: 320.29449436703874
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 16044090-29ca-4b67-9816-e20500deaf44
            value: true
            varType: boolean
            variable_selector:
            - '1777707082747'
            - rule_hit
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 123
      id: '1777707242964'
      position:
        x: 671.1780215614241
        y: 270.90046510216627
      positionAbsolute:
        x: 671.1780215614241
        y: 270.90046510216627
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - +UncklBpcMR/WVwzg4Khj11J18WivQKsUEV7C4XAgx2bONwbiq+tU2nnc1BWFD8y
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1777707082747'
        - retrieval_query_rule_
        retrieval_mode: multiple
        selected: false
        title: KB_检索(规则命中)
        type: knowledge-retrieval
      height: 89
      id: '1777707361444'
      position:
        x: 1436.4322337339931
        y: 83.85320811947733
      positionAbsolute:
        x: 1436.4322337339931
        y: 83.85320811947733
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - role: system
          text: '你是反诈场景的“轻量意图识别与诈骗类型分类器”。

            只输出严格 JSON，不要输出任何额外文字、不要用 Markdown 代码块包裹。'
        - id: 90c78c0d-e407-46ab-b648-ad30712cbe11
          role: user
          text: "请根据用户描述判断：\n1) 可能的诈骗类型（可多选）\n2) 风险等级（高/中/低）\n3) 关键风险信号（关键词/句式/行为）\n\
            4) 用户意图（识别是否诈骗/求助止付/生成劝阻话术/核验身份等）\n\n如用户上传图片或视频，请结合附件内容判断；若无法直接解析视频内容，请说明\
            限制并建议补充文字描述。\n\n仅输出 JSON，格式必须完全一致：\n{\n  \"fraud_candidates\": [\"类型1\"\
            ,\"类型2\"],\n  \"risk_level\": \"高\",\n  \"key_signals\": [\"信号1\",\"信号2\
            \"],\n  \"intent\": \"意图\"\n}\n\n用户描述：\n{{user_input.text}}"
        selected: false
        title: LLM_轻量分类器_JSON
        type: llm
        vision:
          enabled: true
      height: 87
      id: '1777707505741'
      position:
        x: 1004.341575501341
        y: 357.54732432227297
      positionAbsolute:
        x: 1004.341575501341
        y: 357.54732432227297
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json, re\n\ndef _safe_json(s):\n    if s is None:\n        return\
          \ {}\n    if isinstance(s, dict):\n        return s\n    if not isinstance(s,\
          \ str):\n        return {}\n    t = s.strip()\n    if not t:\n        return\
          \ {}\n    try:\n        return json.loads(t)\n    except Exception:\n  \
          \      pass\n    m = re.search(r\"\\{.*\\}\", t, flags=re.S)\n    if m:\n\
          \        try:\n            return json.loads(m.group(0))\n        except\
          \ Exception:\n            return {}\n    return {}\n\ndef _as_str(x):\n\
          \    if x is None:\n        return \"\"\n    if isinstance(x, str):\n  \
          \      return x\n    try:\n        return json.dumps(x, ensure_ascii=False)\n\
          \    except Exception:\n        return str(x)\n\n# 形参名要与“输入变量名”一致：classifier_\
          \ / text_raw\ndef main(classifier_: str, text_raw: str):\n    data = _safe_json(classifier_)\n\
          \n    fraud_candidates = data.get(\"fraud_candidates\") or data.get(\"type\"\
          ) or \"未识别到明确类型\"\n    risk_level = data.get(\"risk_level\") or data.get(\"\
          risk\") or \"中\"\n    intent = data.get(\"intent\") or \"诈骗风险研判与劝阻\"\n\n\
          \    key_signals = data.get(\"key_signals\") or data.get(\"signals\") or\
          \ data.get(\"reasons\") or []\n    if isinstance(key_signals, list):\n \
          \       signals = \"；\".join([_as_str(x) for x in key_signals if _as_str(x).strip()])\
          \ or \"（无）\"\n    else:\n        signals = _as_str(key_signals).strip()\
          \ or \"（无）\"\n\n    retrieval_query = \"用户描述：\" + (text_raw or \"\")\n\n\
          \    return {\n        \"fraud_candidates\": _as_str(fraud_candidates),\n\
          \        \"signals\": _as_str(signals),\n        \"risk_level_hint\": _as_str(risk_level),\n\
          \        \"intent\": _as_str(intent),\n        \"retrieval_query\": _as_str(retrieval_query),\n\
          \    }"
        code_language: python3
        outputs:
          fraud_candidates:
            children: null
            type: string
          intent:
            children: null
            type: string
          retrieval_query:
            children: null
            type: string
          risk_level_hint:
            children: null
            type: string
          signals:
            children: null
            type: string
        selected: false
        title: PY_解析合并候选(LLM兜底)
        type: code
        variables:
        - value_selector:
          - '1777707505741'
          - text
          value_type: string
          variable: classifier_
        - value_selector:
          - '1777704603820'
          - text
          value_type: string
          variable: text_raw
      height: 51
      id: '1777707627587'
      position:
        x: 1358.181699831205
        y: 467.8223664019883
      positionAbsolute:
        x: 1358.181699831205
        y: 467.8223664019883
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - +UncklBpcMR/WVwzg4Khj11J18WivQKsUEV7C4XAgx2bONwbiq+tU2nnc1BWFD8y
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: null
          top_k: 8
        query_attachment_selector: []
        query_variable_selector:
        - '1777707627587'
        - retrieval_query
        retrieval_mode: multiple
        selected: false
        title: KB_检索(兜底分类)
        type: knowledge-retrieval
      height: 89
      id: '1777707677668'
      position:
        x: 1726.418753700543
        y: 427.0862439652719
      positionAbsolute:
        x: 1726.418753700543
        y: 427.0862439652719
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nimport re\n\ndef _extract_json(s: str):\n    if not s:\n\
          \        return {}\n    s = s.strip()\n    try:\n        return json.loads(s)\n\
          \    except Exception:\n        pass\n    m = re.search(r\"\\{.*\\}\", s,\
          \ flags=re.S)\n    if m:\n        try:\n            return json.loads(m.group(0))\n\
          \        except Exception:\n            return {}\n    return {}\n\ndef\
          \ _kb_result_to_text(kb_result):\n    # kb_result: Array[Object] or None\n\
          \    if not kb_result:\n        return \"\"\n    parts = []\n    for item\
          \ in kb_result:\n        if isinstance(item, str):\n            parts.append(item)\n\
          \            continue\n        if not isinstance(item, dict):\n        \
          \    parts.append(str(item))\n            continue\n\n        # 兼容常见字段\n\
          \        for key in [\"content\", \"text\", \"segment\", \"page_content\"\
          , \"chunk\", \"document\"]:\n            v = item.get(key)\n           \
          \ if isinstance(v, str) and v.strip():\n                parts.append(v.strip())\n\
          \                break\n        else:\n            # 尝试更深一层：有的结构是 { \"document\"\
          : { \"content\": \"...\" } }\n            doc = item.get(\"document\")\n\
          \            if isinstance(doc, dict):\n                for key in [\"content\"\
          , \"text\"]:\n                    v = doc.get(key)\n                   \
          \ if isinstance(v, str) and v.strip():\n                        parts.append(v.strip())\n\
          \                        break\n                else:\n                \
          \    parts.append(json.dumps(item, ensure_ascii=False))\n            else:\n\
          \                parts.append(json.dumps(item, ensure_ascii=False))\n\n\
          \    # 去重合并\n    uniq = []\n    seen = set()\n    for p in parts:\n    \
          \    if p not in seen:\n            seen.add(p)\n            uniq.append(p)\n\
          \    return \"\\n\\n\".join(uniq)\n\n# 重点：这些形参名要与你“输入变量名”完全一致（含下划线）\ndef\
          \ main(\n    kb_rule_,\n    kb_llm_,\n    rule_hit,\n    fraud_candidates_rule,\n\
          \    signals_rule,\n    risk_level_rule,\n    text_raw,\n    money_sent,\n\
          \    classifier_text\n):\n    # 1) 选用哪个 KB 检索结果：规则命中优先，否则兜底\n    context_arr\
          \ = kb_rule_ if kb_rule_ else kb_llm_\n    context_text = _kb_result_to_text(context_arr)\n\
          \n    # 2) 规则命中：直接用规则输出；否则解析 classifier_text(JSON)\n    fraud_candidates\
          \ = None\n    signals = None\n    risk_level_hint = risk_level_rule or \"\
          中\"\n    intent = \"识别是否诈骗并给出建议\"\n\n    if rule_hit:\n        fraud_candidates\
          \ = fraud_candidates_rule\n        signals = signals_rule\n    else:\n \
          \       data = _extract_json(classifier_text)\n        fraud_candidates\
          \ = data.get(\"fraud_candidates\") or \"未识别到明确类型\"\n        key_signals\
          \ = data.get(\"key_signals\") or []\n        if isinstance(key_signals,\
          \ list):\n            signals = \"；\".join([str(x) for x in key_signals])\
          \ if key_signals else \"（无）\"\n        else:\n            signals = str(key_signals)\
          \ if key_signals else \"（无）\"\n        risk_level_hint = data.get(\"risk_level\"\
          ) or risk_level_hint\n        intent = data.get(\"intent\") or intent\n\n\
          \    # 3) 输出兜底\n    if not fraud_candidates:\n        fraud_candidates =\
          \ \"未识别到明确类型\"\n    if not signals:\n        signals = \"（无）\"\n    if not\
          \ context_text.strip():\n        context_text = \"（知识库未检索到强相关片段，以下为通用反诈建议）\"\
          \n\n    return {\n        \"context_text\": context_text,\n        \"fraud_candidates\"\
          : str(fraud_candidates),\n        \"signals\": str(signals),\n        \"\
          risk_level_hint\": str(risk_level_hint),\n        \"intent\": str(intent),\n\
          \    }"
        code_language: python3
        outputs:
          context_text:
            children: null
            type: string
          fraud_candidates:
            children: null
            type: string
          intent:
            children: null
            type: string
          risk_level_hint:
            children: null
            type: string
          signals:
            children: null
            type: string
        selected: false
        title: PY_统一上下文与变量
        type: code
        variables:
        - value_selector:
          - '1777707361444'
          - result
          value_type: array[object]
          variable: kb_rule_
        - value_selector:
          - '1777707677668'
          - result
          value_type: array[object]
          variable: kb_llm_
        - value_selector:
          - '1777707082747'
          - rule_hit
          value_type: boolean
          variable: rule_hit
        - value_selector:
          - '1777707082747'
          - fraud_candidates_rule_
          value_type: array[string]
          variable: fraud_candidates_rule
        - value_selector:
          - '1777707082747'
          - signals_rule_
          value_type: array[string]
          variable: signals_rule
        - value_selector:
          - '1777707082747'
          - risk_level_rule_
          value_type: string
          variable: risk_level_rule
        - value_selector:
          - '1777704603820'
          - text
          value_type: string
          variable: text_raw
        - value_selector:
          - '1777704603820'
          - money_sent
          value_type: string
          variable: money_sent
        - value_selector:
          - '1777707505741'
          - text
          value_type: string
          variable: classifier_text
      height: 51
      id: '1777707755604'
      position:
        x: 2096.8169251594236
        y: 304.63080010990655
      positionAbsolute:
        x: 2096.8169251594236
        y: 304.63080010990655
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: qwen3-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 476a0ef9-72f7-4dac-bdd3-d833898cfc67
          role: system
          text: '你是“反诈劝阻助手”，面向普通用户提供诈骗识别、推理解释与劝阻话术生成。


            强制要求：

            1) 优先引用【知识库检索内容】进行判断；若知识库不足，明确说“知识库未覆盖，以下为通用反诈建议”。

            2) 输出必须严格包含以下标题（按顺序）：

            【风险结论】

            【命中套路与证据】

            【可能的诈骗类型】

            【立即行动清单】

            【劝阻话术（可复制发送）】

            【取证与求助】

            【法律与合规提示】

            3) 不要让用户提供验证码、密码、身份证号、银行卡密码等敏感信息；若用户文本出现此类信息，提醒其停止提供并建议脱敏。

            4) 结论必须给出风险等级（高/中/低），并解释为什么像诈骗。

            5) 劝阻话术要“礼貌但坚定”，可以直接复制发给对方。'
        - id: ac3e8b0d-b0b8-4531-91e9-ab4a272bc740
          role: user
          text: '用户描述：

            {{user_input.text}}

            如有图片/视频附件，请结合附件内容判断；若无法直接解析视频内容，请说明限制并提示补充关键信息。


            用户是否已转账/充值：

            {{user_input.money_sent}}


            候选诈骗类型（规则/分类）：

            {{PY_统一上下文与变量.fraud_candidates}}


            命中信号：

            {{PY_统一上下文与变量.signals}}


            风险等级初判：

            {{PY_统一上下文与变量.risk_level_hint}}


            用户意图：

            {{PY_统一上下文与变量.intent}}


            【知识库检索内容】：

            {{PY_统一上下文与变量.context_text}}


            请严格按 System 要求输出，并用自然语言补全，禁止输出任何 {{...}} 模板占位符。'
        selected: false
        title: LLM_反诈分析与劝阻生成
        type: llm
        vision:
          enabled: true
      height: 87
      id: '1777708627285'
      position:
        x: 2416.5580353644864
        y: 304.63080010990655
      positionAbsolute:
        x: 2416.5580353644864
        y: 304.63080010990655
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1777708627285'
          - text
          value_type: string
          variable: answer
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1777710209901'
      position:
        x: 2733.1629055724147
        y: 304.63080010990655
      positionAbsolute:
        x: 2733.1629055724147
        y: 304.63080010990655
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -150.6011198315129
      y: 251.94210129524834
      zoom: 0.8097898326127821
  rag_pipeline_variables: []
